.Lottery {
    border: solid 2px gray;
    padding: 1em 0 2em 0;
    text-align: center;
    margin: 1em auto auto;
    border-radius: 10px;
    width: 40em;
}

.Lottery button {
    background-color: darkblue;
    color: white;
    font-size: 0.7rem;
    border-radius: 5px;
    margin-top: 1em;
    border: none;
    padding: 1em;
    cursor: pointer;
}